.Marker .Title {
  font-weight: bold;
  font-size: 16px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.Marker .LikesAndDislikes {
  background-color: white;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  padding: 4px;
  gap: 16px;
}

.Marker .LikesAndDislikes .Statistics {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.Marker .LikesAndDislikes .Statistics.Likes {
  color: green;
}

.Marker .LikesAndDislikes .Statistics.Dislikes {
  color: red;
}